---
Checks: >-
  -*,
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  bugprone-*,
  -bugprone-exception-escape,
  -bugprone-easily-swappable-parameters,
  performance-*,
  -performance-no-int-to-ptr,
  readability-container-size-empty,
  modernize-use-nullptr
WarningsAsErrors: '*'
HeaderFilterRegex: '^(src|tests)/'
FormatStyle: none
